body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #1c1c1c;
}
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 965px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
  background: url("../images/bg-main.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
.footer {
  flex: 0 0 auto;
}
.burger {
  display: none;
  width: 20px;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
}
.burger span {
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
form {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
  border-radius: 0;
}
.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14em;
  color: #ffffff;
}
.title-h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.167em;
  color: #ffffff;
}

.title-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1667em;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  color: #ffffff;
}
.btn {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #acffb7;
  text-transform: uppercase;
  padding: 10px 28px;
}
/* header footer */
.header {
  border-bottom: 1px solid #ffffff;
}
.navbar,
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.menu {
  display: flex;
}
.menu-item {
  margin: 0 20px;
}
.footer {
  background: url("../images/bg-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__link {
  color: #000;
}
/* meet  */
.meet {
  padding: 370px 0 60px;
}
.meet__wrapper {
  position: relative;
}
.meet__wrapper::after {
  position: absolute;
  display: block;
  width: 380px;
  height: 1px;
  background-color: #fff;
  content: "";
  top: -40px;
}
.meet__title span {
  display: block;
}
.meet__logo {
  position: absolute;
  right: -40px;
  top: -250px;
}
/* goal  */
.goal {
  padding: 20px 0;
}
.goal__wrapper {
  max-width: 380px;
  padding: 40px 0;
}
.goal__text {
  margin-top: 10px;
}
.goal__item {
  position: relative;
  margin-bottom: 20px;
}
.goal__item::after {
  position: absolute;
  top: 0;
  left: -20px;
  content: "";
  width: 11px;
  height: 11px;
  display: block;
  background-image: url("../images/logo-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.goal__tasks {
  margin: 0 auto;
}
.goal__interaction {
  margin-left: auto;
}
.goal__message {
  margin: 0 auto;
}
.goal__decoration-left,
.goal__decoration-right {
  position: absolute;
}
.goal__decoration-left {
  left: 15px;
  top: 430px;
}
.goal__decoration-right {
  top: 190px;
  right: 15px;
}
.goal__decoration-line-top,
.goal__decoration-line-bottom {
  position: absolute;
  content: "";
  display: block;
  background-color: #fff;
}
.goal__decoration-line-top {
  height: 1px;
  width: 300px;
  left: 65px;
  top: 650px;
}
.goal__decoration-line-bottom {
  background-color: transparent;
  width: 300px;
  height: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  right: 15px;
  top: auto;
  bottom: 90px;
}
/* photo  */
.photo {
  padding: 60px 0;
}
.photo__date,
.news__date,
.news__label {
  font-style: italic;
  font-weight: 400;
  color: #acffb7;
  font-size: 14px;
  margin-top: 15px;
}
.photo__img-wrapper {
  max-width: 300px;
  height: 200px;
  position: relative;
}
.photo__img-text {
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.7);
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1667em;
  color: #ffffff;
  padding: 25px 20px;
}
.photo__img-wrapper:hover {
  transform: scale(1.06);
}
.photo__img-wrapper:hover > .photo__img-text {
  opacity: 1;
}
.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* log  */
.log {
  padding: 60px 0 120px 0;
}
.log__title {
  font-weight: 500;
}
.log__title-wrapper {
  max-width: 300px;
}
.log__title-wrapper span {
  display: block;
}
.log__form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.log__wrapper {
  display: flex;
  justify-content: space-between;
}
.log__input {
  max-width: 300px;
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #dadada;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #dadada;
  margin-bottom: 20px;
}
.log__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #dadada;
  text-transform: capitalize;
}
.log__form-checkbox {
  max-width: 20px;
  width: 100%;
  height: 20px;
  border: 1px solid #dadada;
  background: transparent;
  margin-right: 10px;
}
.log__form-checkbox input {
  display: none;
}
.log__label-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.log__form-checkbox-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #dadada;
}
.link-info {
  color: #0bcaff;
}
.log__checkbox {
  display: none;
}
.log__checkbox:checked ~ .log__form-checkbox {
  background-color: #fff;
}
.log__btn {
  margin-top: 30px;
}
/* news-meet  */
.news-meet__subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
}
.news-meet__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-meet {
  padding: 65px 0;
  background-image: url("../images/bg-task.jpg");
  background-position: center;
  background-size: cover;
}
/* info  */
.info {
  padding: 120px 0 60px;
  background-color: #1c1c1c;
}
.info__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.info__img-wrapper {
  width: 220px;
  height: 200px;
  margin-top: 135px;
}
.info__text-wrapper {
  max-width: 700px;
  margin-left: auto;
  width: 100%;
}
.news__title-first,
.table__title,
.scheme__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167em;
  letter-spacing: 0.03em;
  margin: 20px 0 10px;
  background: linear-gradient(
    90deg,
    #acffb7 0%,
    #0bcaff 53.79%,
    #1f93ff 103.28%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0bcaff;
}
.info__article {
  padding: 10px 0;
}
.news__title-second {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167em;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1667em;
  color: #fff;
  margin: 10px 0;
}
.info__text-link {
  color: #acffb7;
  text-decoration: underline;
}
.info__photo-wrapper {
  padding: 30px 0 0;
}
.news__label {
  margin-top: 10px;
}
.info__list-label {
  max-width: 220px;
  padding-right: 80px;
  padding-top: 35px;
}
.info__list {
  max-width: 700px;
  width: 100%;
}
.info__list ul {
  max-width: 300px;
}
.info__list-wrapper,
.info__list {
  display: flex;
  justify-content: space-between;
}
.info__item-text,
.scheme__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875em;
  color: #ffffff;
  position: relative;
}
.info__text-first-list::after {
  position: absolute;
  top: 5px;
  left: -20px;
  content: "";
  width: 11px;
  height: 11px;
  display: block;
  background-image: url(../images/logo-small.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.info__item {
  margin-top: 20px;
}
.info__item-second-list {
  list-style-type: decimal;
}
.info__item-second-list::marker {
  color: #fff;
  margin-right: 5px;
}
/* table  */
.table {
  padding: 60px 0;
}
.table__title {
  background: linear-gradient(
    90deg,
    #acffb7 0%,
    #0bcaff 53.79%,
    #1f93ff 103.28%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.table__wrapper {
  max-width: 100%;
}
.table__item-first {
  max-width: 220px;
  width: 100%;
}
.table__item-second {
  max-width: 220px;
  width: 100%;
}
.table__item-third {
  max-width: 460px;
  width: 100%;
}
.table__block {
  display: flex;
  justify-content: space-between;
}
.table__col-title {
  font-weight: 700;
  font-size: 18px;
  color: #acffb7;
}
.table__row-title {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.table__row-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1667em;
  color: #ffffff;
}
.table__block {
  padding: 20px 0;
  position: relative;
}
.table__block::after {
  content: "";
  display: block;
  height: 1px;
  max-width: 700px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.table__block:first-child::after {
  display: none;
}
/* scheme  */
.scheme {
  padding: 60px 0 10px;
}
.scheme__title {
  background: linear-gradient(
    90deg,
    #acffb7 0%,
    #0bcaff 53.79%,
    #1f93ff 103.28%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.scheme__block {
  max-width: 268px;
  width: 100%;
  position: relative;
  height: 200px;
  margin: 50px 0;
}
.scheme__text {
  margin-top: 10px;
}
.scheme__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.scheme__block::after {
  display: block;
  position: absolute;
  content: "";
  height: 30px;
  width: 1px;
  background-color: #fff;
  bottom: -50px;
  left: 0;
}
.scheme__block:nth-child(4)::after,
.scheme__block:nth-child(5)::after {
  top: -50px;
  bottom: auto;
}
.scheme__block:nth-child(4),
.scheme__block:nth-child(5) {
  margin: 50px auto;
}
.scheme__wrapper::after {
  display: block;
  position: absolute;
  background: linear-gradient(
    90deg,
    #acffb7 0%,
    #0bcaff 53.79%,
    #1f93ff 103.28%
  );
  width: 100%;
  height: 1px;
  content: "";
  top: 50%;
  z-index: 1;
}
